.body{
	font: 16px Avenir, Source Sans Pro, Helvetica, sans-serif;
	line-height:38px;
	color: #404040;
	  clear: both;


}

.body-container{
	width: 60%;
	margin: auto;
}

/*footer*/
.footer {
  	      color:#ffffff;
	      background-color:#53613D;
	      font: 1.5rem Lato, Avenir, Source Sans Pro, Helvetica, sans-serif;
	      font-weight: 900;
	      line-height: 2.375rem;
	      letter-spacing: 0.75px
	      margin: 20px;
	      float: right;
		  width: 100%;
		  border: solid 20px #53613D;
		  padding: 20px 10px;
		  box-sizing: border-box;
		  bottom:0;
		  text-align: right;
		  
}
.footer a{
	text-decoration: none;

}

a:link{
	color:#ffffff;
}

a:visited{
	color:#ffffff;
}

a:hover{
	color:#ffffff;
	text-decoration: underline;
}


/* footer ends here */


/*for the main paragraphs on the other pages*/
.body-normal{
	font: 2rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 400;
	line-height:2.5rem;
	color: #404040;

}

#logo{
	display: flex;
	padding: 10px 0px 10px 20px;
	position: absolute;
	width: 7%;

}

/* navbar*/ 
#navbar{
	background-color:#ffffff;
	overflow: hidden;
	position: fixed; 

	float: right;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 9999;
	list-style: none;
	text-align: center;
	font: 0.875rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 800; 

}

#navbar ul{
	float: right;
	list-style: none;
}


#navbar li{
	display:inline;
}

#navbar a{
	color: #272727;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

/*navbar hover*/
.navbar a:hover {
	background-color: #EFEFEF;
	padding: 8px 12px;
	color: #272727;
	border-radius: 5px;
}

.h1{
	font: 4rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight:800;
	color:#272727;
	line-height:3.125rem;
	padding-top:90px;
	padding-bottom:60px;
	text-align:center;
	margin top:90px;
	margin bottom:60px;
}

.h2{
	font: 3rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 900;
	color:#272727;
	line-height: 3.125rem;
	text-align: left;
	margin-left:20px;
	margin-right:20px;
}

.h3{
	font: 3rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 500;
	color:#272727;
	line-height: 3.125rem;
	text-align: left;
	margin-left:20px;
	margin-right:20px;
}

.body-small{
	font: 1.5rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 2.375rem;
	color: #404040;
	background-color: #ffffff;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;

}


/* header image*/
.big-header-image{
	width:100%;
	height: 1080px;
	position:relative;
	background-image: url('about/aboutheader.jpg');
	 background-position: center;
	background-repeat: no-repeat;
}


/* header responsive*/
      @media screen and (max-width: 600px) {
.big-header-image{
	background-image: url('about/aboutheadersmall.jpg');
 height: 400px;

  }
	      
/* footer image*/
.footer-image{
	width:100%;
	height: 1080px;
	position:static;
	background-image: url('about/aboutimage4.jpg');
	 background-position: center;
	background-repeat: no-repeat;
}

/* footer responsive*/
      @media screen and (max-width: 600px) {
.footer-image{
	background-image: url('about/aboutimage4small.jpg');
 height: 400px;

  }
	      
	      
/* image on left*/	      
.column {
  float: left;
  padding: 10px;
  background-color:#F7F7F7;
}

.left {
  width: 50%;
  box-sizing: border-box;
}

.left img{
	width: 600px;
	height:600px;

}
	      
 /* image on right*/
.right {
  width: 0%;
  box-sizing: border-box;
}
.right img {
  width: 600px;
	  height: 100%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
/* column responsive*/	      
@media screen and (max-width: 600px) {
  .column {
    width: 100%;

  }
	      
 .responsive {
  width: 100%;
	height:auto;
}

/* body container responsive*/		
@media screen and (max-width: 600px) {
  .body-container {
    width: 90%;

  }
	
@media screen and (max-width: 600px) {
  .h1 {
    width: 90%;

  }
	
@media screen and (max-width: 600px) {
  .h2 {
    width: 90%;

  }
	
    @media screen and (max-width: 600px) {
.body-normal{
  	font: 1.5rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 2rem;
	padding: 2rem;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	display: inline-block;

  }





