.body{
	font: 16px Avenir, Source Sans Pro, Helvetica, sans-serif;
	line-height:38px;
	color: #404040;
	  clear: both;


}

.body-container{
	width: 60%;
	margin: auto;
}

/*footer*/
.footer {
  	      color:#ffffff;
	      background-color:#53613D;
	      font: 1.5rem Lato, Avenir, Source Sans Pro, Helvetica, sans-serif;
	      font-weight: 900;
	      line-height: 2.375rem;
	      letter-spacing: 0.75px
	      margin: 20px;
	      float: right;
		  width: 100%;
		  border: solid 20px #53613D;
		  padding: 20px 10px;
		  box-sizing: border-box;
		  bottom:0;
		  text-align: right;
		  
}
.footer a{
	text-decoration: none;

}

a:link{
	color:#ffffff;
}

a:visited{
	color:#ffffff;
}

a:hover{
	color:#ffffff;
	text-decoration: underline;
}


/* footer ends here */


/*for the main paragraphs on the other pages*/
.body-normal{
	font: 2rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 400;
	line-height:2.5rem;
	color: #404040;

}

#logo{
	display: flex;
	padding: 10px 0px 10px 20px;
	position: absolute;
	width: 7%;

}

/* navbar*/ 
#navbar{
	background-color:#ffffff;
	overflow: hidden;
	position: fixed; 

	float: right;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 9999;
	list-style: none;
	text-align: center;
	font: 0.875rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 800; 

}

#navbar ul{
	float: right;
	list-style: none;
}


#navbar li{
	display:inline;
}

#navbar a{
	color: #272727;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

/*navbar hover*/
.navbar a:hover {
	background-color: #EFEFEF;
	padding: 8px 12px;
	color: #272727;
	border-radius: 5px;
}

.h1{
	font: 4rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight:800;
	color:#272727;
	line-height:3.125rem;
	padding-top:90px;
	padding-bottom:60px;
	text-align:center;
	margin top:90px;
	margin bottom:60px;
}

.box-1 {
    display: flex;
    background-color: #F7F7F7;
}

.box-1 .right-1 img {
	padding-top: 60px;
	padding-bottom: 60px;
	height: 300;	
}

/* for the image that fall on the left */
.box-1 .left-1 {
	float:left; 
  	background-color:#F7F7F7;
}

.box-1 .right-1 {
    float:left;
    padding-left: 150px;
    padding-right:0;
    font-family: Avenir;
	font-style: normal;
}

.box-1 .right-1 h2 {
	padding-left: 30px;
	padding-top: 60px;
	margin: 0;
	padding-right: 0;
}
.box-1 .right-1 .content {
	padding-left: 30px;
	width: 250px;
	height: 200px;
	background-color: #FFFFFF;
}
.box-1 .right-1 .content p {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 25px;
	
}

.box-1 .right-1 .button {
	background-color: #718355;
	color: #FFFFFF;
}

.box-2 {
    display: flex;
    background-color: #F7F7F7;
}

.box-2 .left-2 {
	font-family: Avenir;
	font-style: normal;
	padding-left: 90px
}

.box-2 .left-2 .content-2 {
	width: 250px;
	height: 200px;
	background-color: #FFFFFF;

}
.box-2 .left-2 h2 {
	padding-left: 30px;
	padding-left: 30px;
	padding-top: 120px;
	margin: 0;
}

.box-2 .left-2 .content-2 p {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 25px;
	padding-left: 20px;	
}
.box-2 .right-2 {

	padding-right: 0px;
}

.box-2 .right-2 img {
	padding-top: 60px;
	padding-bottom: 60px;
	height: 200;
	padding-right: 10px;
	padding-left:185px;	
}

.box-2 .left-2 .button {
	background-color: #718355;
	color: #FFFFFF;
}


/* ABOUT US */

.top-image-2 {
	width: 100%
}

.block-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	margin: auto;
}

.block-1 h2 {
	position: static;
	font: 3em Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 900;
	color:#272727;
	line-height: 3.125rem;
	text-align: left;
	padding-right: 30%;
	padding-left:30%;
}
.block-1 p {
	padding-left: 30%;
	padding-right: 30%;
	font: 2rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 400;
	line-height:2.5rem;
	color: #404040;
}

.founders {
	display: flex;
    background-color: #F7F7F7;
}

.founders .Yves {
	padding-left: 100px;
}

.founders .Yves img {
	width: 60%;
}

.founders .Yves h2 {
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
}

.founders .Yves p {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
}

.founders .Dominic {
	padding-right: 100px;
}
.founders .Dominic img {
	width: 60%;
}

.founders .Dominic h2 {
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
}
.founders .Dominic p {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
}


/* header image*/
.big-header-image{
	width:100%;
	height: 1080px;
	position:relative;
	background-image: url('about/aboutheader.jpg');
	 background-position: center;
	background-repeat: no-repeat;
}

/* header responsive*/
      @media screen and (max-width: 600px) {
.big-header-image{
	background-image: url('about/aboutheadersmall.jpg');
 height: 400px;

  }





