.body{
	color: #404040;
	background-color: #ffffff;
	padding: 5%;
}

#logo{
	display: flex;
	padding: 10px 0px 10px 20px;
	position: absolute;
	width: 7%;

}

/* navbar*/ 
#navbar{
	background-color:#ffffff;
	overflow: hidden;
	position: fixed; 

	float: right;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 9999;
	list-style: none;
	text-align: center;
	font: 0.875rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 800; 

}

#navbar ul{
	float: right;
	list-style: none;
}


#navbar li{
	display:inline;
}

#navbar a{
	color: #272727;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

/*navbar hover*/
.navbar a:hover {
	background-color: #EFEFEF;
	padding: 8px 12px;
	color: #272727;
	border-radius: 5px;
}

h1 {
	font: 3rem Avenir, Source Sans Pro, Helvetica, sans-serif;
	font-weight: 800;
	line-height: 40%;
	color:#272727;
	text-align: center;
	padding-top: 10%
	padding-bottom: 60%;
}

/*
.box-1 {
    width:100%;
    height:auto;
}
*/
/* for the image that fall on the left */
/*
.left-1 {
	float:left; 
  	background-color:#F7F7F7;
}
*/
/*
.right-1 {
    float:left;
}

*/

/*
.right-1 h2 {

    font-family: Avenir;
	font-style: normal;
	font-weight: 800;

	left: 67.14%;
	right: 9.38%;
	top: 11.57%;
	bottom: 83.8%;
}

*/
